<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <title>メインページ</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="bgColor">
        <div class="loginSize">
            <div>
                <h2>WELCOME TO ○○○学校</h2>
            </div>
            <form action="#">
                <div>
                    <input type="text" placeholder="学籍番号or教師ID">
                </div>
                <div>
                    <input type="password" placeholder="PASSWORD">
                </div>
                <div>
                    <p>学籍番号や教師IDがない場合は、担当の方に連絡してください。</p>
                </div>
                <div>
                    <input type="submit" value="LOGIN">
                </div>
            </form>
        </div>
    </div>
</body>

</html>
